module.exports = {
  <% actions.forEach(function(action, i) { %>
  '<%= action.name %>': {
      actionName:'<%= action.name %>',
      customFunction: require('./domains/<%= action.domain %>/<%= action.name %>')
   }<% if (i < actions.length - 1) { %>,<% } %>
  <% }); %>
};