'use strict';

var XDSimulator = require('mozuxd-simulator');
var simulate = XDSimulator.simulate;
var assert = XDSimulator.assert;
var fixtures = XDSimulator.fixtures;


var action;
<% var context = actionConfig.context; %>

exports["<%= name %>, <%= action.name %>"] = {
  setUp: function(callback) {
    action = require('../src/domains/<%= action.domain %>/<%= action.name %>');
    callback();
  },
  "runs successfully": function(test) {

    var context = {
      get: {
        <% if (typeof context.get === "object") {
           Object.keys(context.get).forEach(function(k, i) { if (i > 0) { %>,<% } %>
          <%= k %>: fixtures.get("<%= context.get[k].return.type %>")
        <% }); } %>
      },
      exec: {
        <% if (typeof context.exec === "object") {
           Object.keys(context.exec).forEach(function(k, i) { if (i > 0) { %>,<% } %>
          <%= k %>: function() {
            test.equal(arguments.length, <%= context.exec[k].parameters.length %>, "Expected <%= k %> function to receive <%= context.exec[k].parameters.length %> parameters.");
            // other assertions
          }
        <% }); } %>
      }
    };

    var callback = function() {
      test.ok(true, "Callback was called");
      // more assertions
      test.done();
    };

    test.doesNotThrow(simulate('<%= action.name %>', action, context, callback));
  }
}
